"*":
  "atom-beautify":
    _analyticsUserId: "efe889f6-0e0b-409b-8fd6-0857d2f5824a"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    packagesWithKeymapsDisabled: [
      "ctrl-dir-scroll"
      "bracket-matcher"
    ]
    themes: [
      "isotope-light-ui"
      "one-light-syntax"
    ]
  "ctrl-dir-scroll": {}
  editor:
    fontFamily: "\"DejaVu Sans Mono\""
    invisibles: {}
  "exception-reporting":
    userId: "c34d39d1-3389-aac6-9341-3ae92ea11f63"
  pigments:
    markerType: "dot"
  welcome:
    showOnStartup: false
