"*":
  "atom-beautify":
    general:
      _analyticsUserId: "341af4ba-5046-42fa-a28a-7d3011575b2b"
  "autocomplete-plus":
    enableAutoActivation: false
    includeCompletionsFromAllBuffers: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    PATH: "/home/phil/.lilyvm/bin:/home/phil/.gem/ruby/2.3.0/bin:/home/phil/.nvm/versions/node/v6.0.0/bin:/home/phil/bin:/home/phil/.govm/versions/current/bin:/home/phil/.pyenv/plugins/pyenv-virtualenv/shims:/home/phil/.pyenv/shims:/home/phil/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl"
    allowPendingPaneItems: false
    autoHideMenuBar: true
    disabledPackages: [
      "git-diff"
      "language-git"
      "open-on-github"
      "linter-sass-lint"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "node_modules"
    ]
    packagesWithKeymapsDisabled: [
      "ctrl-dir-scroll"
      "bracket-matcher"
      "tree-view"
      "save-autorun"
      "hard-wrap"
    ]
    telemetryConsent: "no"
    themes: [
      "isotope-light-ui"
      "one-light-syntax"
    ]
  "ctrl-dir-scroll": {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
  "exception-reporting":
    userId: "c34d39d1-3389-aac6-9341-3ae92ea11f63"
  "isotope-light-ui":
    minimalMode: true
  "linter-eslint":
    disableFSCache: true
    globalNodePath: "/home/phil/.nvm/versions/node/v6.0.0"
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "/usr/bin/shellcheck"
    userParameters: "-x"
  "linter-ui-default":
    gutterPosition: "Left"
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "save-autorun":
    notifications: false
  "save-commands":
    commands: [
      {
        "**/*.js": "js-beautify {absPath}{filename}"
      }
    ]
  "toggle-gutter":
    showNumbers: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
