"*":
  "atom-beautify":
    general:
      _analyticsUserId: "efe889f6-0e0b-409b-8fd6-0857d2f5824a"
  "autocomplete-plus":
    enableAutoActivation: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "spell-check"
      "language-mustache"
    ]
    excludeVcsIgnoredPaths: true
    packagesWithKeymapsDisabled: [
      "ctrl-dir-scroll"
      "bracket-matcher"
      "fuzzy-finder"
    ]
    telemetryConsent: "no"
    themes: [
      "isotope-light-ui"
      "one-light-syntax"
    ]
  "ctrl-dir-scroll": {}
  editor:
    fontFamily: "\"DejaVu Sans Mono\""
    invisibles: {}
    preferredLineLength: 72
    tabType: "soft"
  "exception-reporting":
    userId: "c34d39d1-3389-aac6-9341-3ae92ea11f63"
  "linter-eslint": {}
  "linter-sass-lint":
    configFile: "/Users/pmo001/stuff/personal/default.scss-lint.yml"
  "linter-scss-lint": {}
  pigments:
    markerType: "dot"
  "spell-check": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
