'.platform-win32 .find-and-replace, .platform-linux .find-and-replace':
  'ctrl-alt-/': 'unset!'
  'cmd-r': 'find-and-replace:toggle-regex-option'

'.platform-win32 .project-find, .platform-linux .project-find':
  'ctrl-alt-/': 'unset!'
  'cmd-r': 'project-find:toggle-regex-option'

'.platform-linux .find-and-replace, .platform-win32 .find-and-replace, .find-and-replace':
  'ctrl-alt-s': 'unset!'

'html':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'

'body':
  'ctrl-o': 'fuzzy-finder:toggle-file-finder'
  'ctrl-shift-n': 'unset!'
  'ctrl-alt-r': 'window:reload'
  'ctrl-k up': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'cmd-z': 'unset!'
  'ctrl-z': 'core:undo'
  'shift-cmd-Z': 'unset!'
  'ctrl-y': 'core:redo'
  'cmd-x': 'unset!'
  'ctrl-x': 'core:cut'
  'cmd-c': 'unset!'
  'ctrl-c': 'core:copy'
  'cmd-v': 'unset!'
  'ctrl-v': 'core:paste'
  'f12': 'window:toggle-dev-tools'
  'ctrl-tab': 'unset!'
  'ctrl-shift-tab': 'unset!'

'.platform-win32, .platform-linux':
  'alt': 'abort!'
  'alt-f1': 'window:toggle-menu-bar'
  'ctrl-shift-R': 'unset!'

'body .native-key-bindings':
  'alt-up': 'unset!'
  'alt-left': 'unset!'
  'alt-down': 'unset!'
  'alt-right': 'unset!'

'atom-workspace atom-text-editor':
  'alt-left': 'last-cursor-position:previous'
  'alt-right': 'last-cursor-position:next'
  'ctrl-k ctrl-l': 'unset!'
  'ctrl-k ctrl-u': 'unset!'

'atom-text-editor':
  'alt-a': 'find-and-replace:replace-all'
  'alt-c': 'color-picker:open'
  'alt-f': 'find-and-replace:find-next'
  'alt-m': 'markdown-preview:toggle'
  'alt-r': 'find-and-replace:replace-next'
  'alt-right': 'last-cursor-position:next'
  'alt-s': 'symbols-view:toggle-project-symbols'
  'alt-t': 'tree-view:reveal-active-file'
  'alt-w': 'hard-wrap:reflow-selection'
  'ctrl-a': 'core:select-all'
  'ctrl-b': 'bracket-matcher:go-to-matching-bracket'
  'ctrl-delete': 'editor:delete-to-end-of-word'
  'ctrl-d': 'symbols-view:go-to-declaration'
  'ctrl-/': 'editor:toggle-line-comments'
  'ctrl-end': 'core:move-to-bottom'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-h': 'find-and-replace:show'
  'ctrl-home': 'core:move-to-top'
  'ctrl-i': 'editor:delete-to-end-of-line'
  'ctrl-k': 'editor:delete-line'
  'ctrl-left': 'editor:move-to-beginning-of-word'
  'ctrl-right': 'editor:move-to-end-of-word'
  'ctrl-s': 'core:save'
  'ctrl-shift-alt-down': 'ctrl-dir-scroll:scroll-down'
  'ctrl-shift-alt-up': 'ctrl-dir-scroll:scroll-up'
  'ctrl-shift-b': 'bracket-matcher:select-inside-brackets'
  'ctrl-shift-d': 'personal:doc-curline'
  'ctrl-shift-end': 'core:select-to-bottom'
  'ctrl-shift-f': 'project-find:show'
  'ctrl-shift-home': 'core:select-to-top'
  'ctrl-shift-left': 'editor:select-to-beginning-of-word'
  'ctrl-shift-m': 'xml-formatter:indent'
  'ctrl-shift-pagedown': 'pane:move-item-right'
  'ctrl-shift-pageup': 'pane:move-item-left'
  'ctrl-shift-r': 'run-command-with-args:search'
  'ctrl-shift-right': 'editor:select-to-end-of-word'
  'ctrl-shift-s': 'core:save-as'
  'ctrl-shift-t': 'pane:reopen-closed-item'
  'ctrl-u': 'editor:delete-to-beginning-of-line'
  'f3': 'tern:definition'
  'shift-alt-f': 'find-and-replace:find-previous'

'.tree-view':
  'backspace': 'tree-view:remove'
  'enter': 'tree-view:open-selected-entry'
  'alt-t': 'tree-view:toggle'

'.platform-darwin atom-text-editor, atom-text-editor':
  'ctrl-backspace': 'editor:delete-to-beginning-of-word'
  'ctrl-t': 'application:new-file'

'atom-text-editor:not(.mini)':
  'ctrl-shift-n': 'linter:next-error'
  'f5': 'script:run'
  'shift-enter': 'editor:newline'

'.platform-linux .command-palette atom-text-editor, .platform-linux, atom-text-editor, body':
  'ctrl-shift-p': 'linter:previous-error'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-d': 'personal:doc-curline'
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'

'.platform-darwin atom-text-editor, .platform-linux atom-text-editor':
  'alt-o': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-r': 'command-palette:toggle'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'f5': 'script:run'
  'ctrl-shift-b': 'unset!'
  'ctrl-k ctrl-d': 'unset!'
