@default-font-color: #111;
@default-font-color-lighter: #666;
@purple: #a600a3;
@green: #019601;
@puke: #a16e00;
@red: #bd0f00;
@error-red: #ffc7c2;
@blue: #002d93;
@general-highlight: rgba(252, 227, 5, 0.67);
@bg: white;
@bg-dark-1: #e9e9e9;
@bg-dark-2: #ccc;

atom-text-editor {
  background-color: @bg;
  color: @default-font-color;

  &::shadow {
    .bracket-matcher .region {
      background-color: @general-highlight;
      z-index: 100;
    }

    .entity.other.attribute-name
     , .constant {
      color: @default-font-color;
    }

    .invalid.illegal {
      color: @default-font-color !important;
      background-color: @error-red !important;
    }

    .string
     , .markup.raw {
      color: @green;
    }

    .source.gfm .markup.heading
     , .variable
     , .keyword
     , .source.json .meta.structure.dictionary.json > .string.quoted.json {
      color: @red;
    }

    .source.css .property-value
     , .support.class
     , .entity.name.type {
      color: @puke;
    }

    .source.css .property-name.support
     , .source.gfm .markup.link
     , .storage {
      color: @purple;
    }

    .source.gfm .link .entity
     , .support.function
     , .source.json .meta.structure.dictionary.json > .constant.language.json, .source.json .meta.structure.array.json > .constant.language.json
     , .constant.character.escape
     , .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json, .source.json .meta.structure.array.json > .value.json > .string.quoted.json, .source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation, .source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation
     , .entity.name.function {
      color: @blue;
    }

    .punctuation.definition.comment
     , .comment {
      color: @default-font-color-lighter;
      font-style: normal;
    }

    .selection .region {
      background-color: @bg-dark-2;
    }

    .line-number {
      color: @default-font-color-lighter;

      &.cursor-line {
        color: @default-font-color;
        font-weight: bold;
      }
    }
    .cursor-line {
      background-color: @bg-dark-1;
    }
  }
}

.tree-view.list-tree li.selected:before
 , .tree-view.list-tree li:not(.list-nested-item).selected:before
 , .tree-view.list-tree li.list-nested-item.selected > .list-item:before
 , .tree-view.list-tree:focus li.selected:before
 , .tree-view.list-tree:focus li:not(.list-nested-item).selected:before
 , .tree-view.list-tree:focus li.list-nested-item.selected > .list-item:before {

  color: @default-font-color;
  background-color: @bg;
}

.tree-view.list-tree li li:not(.list-nested-item):hover
 , .tree-view.list-tree li li.list-nested-item > .list-item:hover
 , .tree-view.list-tree li.selected:hover:before
 , .tree-view.list-tree li:not(.list-nested-item).selected:hover:before
 , .tree-view.list-tree li.list-nested-item.selected > .list-item:hover:before
 , .tree-view.list-tree:focus li.selected:hover:before
 , .tree-view.list-tree:focus li:not(.list-nested-item).selected:hover:before
 , .tree-view.list-tree:focus li.list-nested-item.selected > .list-item:hover:before {

  color: @default-font-color !important;
  background-color: @bg-dark-2 !important;
}


.tree-view.list-tree li li.status-added
 , .tree-view.list-tree li li:not(.list-nested-item).status-added
 , .tree-view.list-tree li li.list-nested-item.status-added > .list-item {

   color: @green;
}

.tree-view.list-tree li li.status-modified
 , .tree-view.list-tree li li:not(.list-nested-item).status-modified
 , .tree-view.list-tree li li.list-nested-item.status-modified > .list-item {

   color: @puke;
}

.tree-view.list-tree li
 , .tree-view.list-tree li:not(.list-nested-item)
 , .tree-view.list-tree li.list-nested-item > .list-item {

   color: @purple;
}

html, body {
  font-size: 16px;
}

.linter-gutter.linter-highlight.linter-error.icon-primitive-dot::before {
  margin-right: -0.1rem;
}
